.login-cont{
    height: 100vh;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    background-color: #222831;

}

.form-cont{
    width: 40%;
    padding: 25px;
    background-color: #393E46;
    border-radius: 10px;
    color: #EEEEEE
}

.btn-primary,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:hover{
    background-color: #FD7014 !important;
    color: #EEEEEE !important;
    border: none !important;
    outline: none !important;
    
}

.error{
    color: #FD7014;
    margin-top:10px;
}
